extends ../layout

block content
  .container
    h4.center.grey-text.text-darken-1 My Lessons
    if lessons
      each v, i in lessons
        if (i%3 === 0)
          .row
            each lesson in lessons.slice(i, i+3)
              .col.s12.m4
                .card.small.hoverable.teal.lighten-2
                  .card-content.white-text
                    h4.card-title.truncate= lesson.title
                    - var questions = JSON.parse(lesson.questions);
                    p #{lesson.numQuestions} Questions
                  .card-action
                    a(href='lessons/#{lesson._id}') Preview
                    a(href='lessons/edit/#{lesson._id}') Edit
                    a(href='lessons/delete/#{lesson._id}') Delete
    
  .bottom-right.fixed-action-btn
    a.btn-floating.btn-large.waves-effect.waves-light.pink.accent-2(href='/lessons/new')
      i.material-icons add