extends ../layout

block content        
  .container
    h4.center.grey-text.text-darken-1 My Graphs
    if graphs
      each v, i in graphs
        if (i%3 === 0)
          .row
            each graph in graphs.slice(i, i+3)
              .col.s12.m4
                .card.small.indigo.lighten-2
                  .card-image
                    img.index-image(src=graph.data.thumbnail)
                  .card-content.white-text
                    span.card-title= graph.data.title
                  .card-action
                    a(href='graphs/#{graph._id}') Preview
                    a(href='graphs/edit/#{graph._id}') Edit
                    a(href='graphs/delete/#{graph._id}') Delete
                    if (graph.data.public === 'true')
                      span.badge.white.indigo-text Public
                    
  .bottom-right
    a.btn-floating.btn-large.waves-effect.waves-light.pink.accent-2(href='/graphs/new')
      i.material-icons add
